@import '../../../../style/variables';

.wrapper {
   position: relative;

   &.filterActive .galleries .gallery {

      &:first-child,
      &:nth-child(2) {
         translate: -70% 0;
      }

      &:nth-child(3),
      &:last-child {
         translate: 70% 0;
      }
   }

   .galleries {
      display: flex;
      gap: $gap;
      opacity: 1;
      transition: all .3s ease;

      &.transition {
         opacity: 0;
      }
   }
}