@import './_reset'
// , './_fonts', './_var', './_utility', './_components'
;

$gap: 2rem;

body {
   font-family: Arial, Helvetica, sans-serif;

   &::-webkit-scrollbar {
      display: none;
   }
}

body .container {
   display: flex;
   gap: $gap;
   position: relative;

   .gallery {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: $gap;

      .project-link {
         position: relative;
         height: 60vh;

         &__headline {
            position: absolute;
            bottom: 0;
            padding: 1rem;
            display: flex;
            align-items: flex-end;
            gap: 1rem;
            color: var(--color, white);
            mix-blend-mode: difference;

            .headline--title,
            .headline--desc {
               font-size: 1.3rem;
            }

            .headline--title {
               position: relative;
               text-transform: uppercase;
               font-weight: 700;

               &::after {
                  content: "•";
                  position: absolute;
                  right: -.75rem;
                  font-size: 1.2rem;
               }
            }
         }

         &--image {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }

      &.small .project-link {
         height: 50vh;
      }
   }

   .filter-btn {
      position: fixed;
      top: 50%;
      right: 50%;
      transform: rotate(90deg) translate(-50%, -3.65rem);
      width: max-content;
      height: $gap;
      background-color: transparent;
      border: none;
      text-transform: uppercase;
      cursor: pointer;
   }

   .filters {
      display: none;
   }
}