@import '../../../../style/variables';

.event {

   section {
      height: 100vh;
      overflow: hidden;
      display: flex;

      &>* {
         flex: 1 1 50%;
      }
   }

   .image {
      position: relative;

      .src {
         object-fit: cover;
      }
   }

   .hero {
      position: relative;

      .image {
         object-fit: cover;
      }

      .headline {
         position: absolute;
         bottom: 0;
         padding: 2rem;
         gap: 1rem;
         font-size: 1rem;
         color: #fff;
         font-weight: 600;

         -webkit-font-smoothing: antialiased;
         $stroke-color: #000;
         $stroke-width: 1px;
         text-shadow: $stroke-width 0 0 $stroke-color,
            calc($stroke-width * -1) 0 0 $stroke-color,
            0 $stroke-width 0 $stroke-color,
            0 calc($stroke-width * -1) 0 $stroke-color;

         .title {
            text-transform: uppercase;
         }

         .artistName {
            text-transform: capitalize;

            &::before {
               content: "•";
               margin-inline: .3rem;
            }
         }
      }
   }

   .info {
      padding: 4rem 2rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      article {
         display: flex;
         flex-direction: column;
         gap: 1rem;
         height: 70%;

         .type {
            min-width: 22ch;
            font-size: 1rem;
            line-height: 1.2;
            text-transform: uppercase;
         }

         .description {
            white-space: pre-line;
            max-width: 40ch;
            height: 100%;
            overflow: hidden;
            font-size: 2rem;
            line-height: 1.05;
         }
      }

      .stats {
         display: flex;
         flex-direction: column;
         gap: 1rem;
         font-weight: 500;
         font-size: 1.2rem;

         .statsList {
            padding: 0;
            display: flex;
            gap: 2rem;
            list-style: none;
         }

         .stat {
            display: flex;
            gap: .5rem;
            align-items: center;

            .icon {
               color: $primary-color;
            }
         }
      }
   }


   .artist {
      padding: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      background-color: #ebebeb;

      .image {
         flex-shrink: 0;
         width: 30rem;
         aspect-ratio: 1;
         border-radius: 50%;
         overflow: hidden;
      }

      .artistInfo {
         display: flex;
         flex-direction: column;
         gap: 1rem;
         max-width: 60ch;
         font-size: 2rem;

         h2 {
            font-size: 1rem;
            text-transform: uppercase;
         }

         p {
            line-height: 1.05;
         }
      }
   }

   .imageThesis {
      position: relative;

      .thesis {
         width: 40ch;
         position: absolute;
         bottom: 0;
         right: 0;
         padding: 3rem 2rem;
         color: #fff;
         font-size: 1.2rem;
         font-weight: 400;
         line-height: 1.2;

         -webkit-font-smoothing: antialiased;
         $stroke-color: #000;
         $stroke-width: 1px;
         text-shadow: $stroke-width 0 0 $stroke-color,
            calc($stroke-width * -1) 0 0 $stroke-color,
            0 $stroke-width 0 $stroke-color,
            0 calc($stroke-width * -1) 0 $stroke-color;
      }
   }
}