/* Josh's Custom CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);

  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  isolation: isolate;
}

[data-nextjs-scroll-focus-boundary] {
  display: contents;
}

/* remove animations for people who've turned them off  */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

main {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 2;
  transition: transform 500ms cubic-bezier(.55, 0, .2, 1);
  overflow: auto;

  &.navActive {
    transform: translateY(-30rem);
  }
}

.nav {
  height: 30rem;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  overflow: auto;

  &-links {
    display: flex;
    gap: clamp(1rem, 2vw, 2rem);
    margin-top: clamp(2rem, 2vw, 3rem);
    padding: 0rem clamp(1rem, 2vw, 2rem);
    transform: translateY(50%) scale(0.85);
    transition: transform 500ms cubic-bezier(.55, 0, .2, 1);
    overflow: auto;

    &.navActive {
      transform: translateY(0%) scale(1);
    }

    .link {
      &-label {
        color: #fff;
        font-size: 1.25rem;
        margin: 0rem;
        text-transform: uppercase;
        position: relative;
        transition: all .2s ease-in-out;

        &.active {
          padding-left: 1.2rem;

          &::before {
            opacity: 1;
            transform: translate(0, -35%);
            background-color: #3C4CC7;
          }
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(.75rem, -35%);
          width: .7rem;
          aspect-ratio: 1;
          opacity: 0;
          border-radius: 50%;
          background-color: rgb(216, 149, 101);
          transition: all .2s ease-in-out;
        }
      }

      &-image {
        width: max(20vw, 400px);
        aspect-ratio: 1.8 / 1;
        border-radius: 0.5rem;
        margin-top: 0.75rem;
        overflow: hidden;

        .src {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(1.03);
          transition: all .2s ease-in-out;
        }
      }

      &:hover {
        .link-label {
          padding-left: 1.2rem;

          &::before {
            opacity: 1;
            transform: translate(0, -35%);
          }
        }

        .link-image .src {
          transform: scale(1);
        }
      }
    }
  }
}

.nav-toggle {
  width: 5rem;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  z-index: 3;
  border-radius: 50%;
  border: none;
  background-color: rgb(182, 142, 113);
  box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
  cursor: pointer;
  transition: transform background-color .4s ease;

  &:hover {
    transform: translateX(-50%) scale(1.05);
  }

  &:active {
    transform: translateX(-50%) scale(0.95);
  }

  &.navActive,
  &.filterActive,
  &.caseActive {
    background-color: #3C4CC7;
  }
}