@import '../style/variables';

$section-width: calc(50% - ($gap / 2));

.wrapper {
   posittion: relative;
   display: flex;
   gap: $gap;

   .galleries {
      width: $section-width;
      display: flex;
      gap: $gap;
   }

   .article {
      position: sticky;
      top: 0;
      height: 100vh;
      width: $section-width;
      background-color: #d0043a23;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 24.5vh 5vw 3.75rem 4vw;

      .showOff {
         position: absolute;
         right: 2rem;
         top: 1.5rem;
         width: 40%;
         text-align: end;
         font-size: 1.1rem;
         line-height: 1.2;

         span {
            font-weight: 500;
         }
      }

      .slogan {
         text-transform: uppercase;
         font-size: 10vmin;
         display: flex;
         flex-direction: column;

         line-height: .85;
         font-weight: 400;

         .marginLeft {
            margin-left: 1ch;
         }
      }

      .mission {
         align-self: flex-end;
         max-width: 25rem;

         .missionDesc {
            font-size: 1.5rem;
            line-height: 1.05;
            font-weight: 400;
            margin-bottom: 1rem;
         }

         .missionLink {
            font-size: 1.1rem;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.2;
         }
      }
   }
}