@import '../../../style/variables';

.link {
   display: flex;
   width: min-content;
   position: relative;
   font-size: inherit;

   .text {
      transition: all .2s ease-in-out;
   }

   .dot {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(.5em, -.3em);
      width: 1.2ch;
      aspect-ratio: 1;
      opacity: 0;
      border-radius: 50%;
      background-color: $primary-color;
      transition: all .2s ease-in-out;
      z-index: -1;
   }

   &:hover {

      .text {
         transform: translateX(1em);
      }

      .dot {
         opacity: 1;
         transform: translate(0, -.3em);
      }
   }
}