body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;

  &:has(.navActive) {
    main {
      transform: translateY(-30rem);
    }
  }
}

main {
  position: relative;
  height: 100vh;
  z-index: 1;
  background-color: #fff;
  transition: transform 500ms $cubic-bezier;
  overflow: auto;

  &:has(.container) {
    overflow: hidden;
  }
}

.container {
  height: 100vh;
  overflow: auto;
}
