body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
}

main {
  font-size: clamp(.8rem, 1vw, 1rem);
  position: relative;
  z-index: 1;
  height: 100vh;
  max-height: -webkit-fill-available;
  background-color: #fff;
  transition: transform 500ms $cubic-bezier;
  overflow: hidden;

  &.navActive {
    transform: translateY(-30em);
  }
}

.container {
  height: 100%;
  overflow: auto;
}

@media screen and (max-width: 64rem) {
  main {
    &.navActive {
      transform: translateY(-30rem);
    }
  }
}