@import '../../style/variables';

.container {
   position: relative;

   .filter {
      position: absolute;
      inset: 0;
      pointer-events: none;

      .filter_wrapper {
         position: sticky;
         top: 0;
         height: 100vh;
         display: grid;
         place-items: center;

         .filtersButton {
            transform: rotate(90deg);
            height: 2rem;
            width: max-content;
            background-color: transparent;
            border: none;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
            transition: all .15s $cubic-bezier;
            user-select: none;
            pointer-events: all;

            &.filterActive {
               opacity: 0;
               pointer-events: none;
            }
         }
      }
   }

   &:has(.filterActive) {
      .galleries {
         .gallery {

            &:first-child,
            &:nth-child(2) {
               transform: translateX(-70%);
            }

            &:nth-child(3),
            &:last-child {
               transform: translateX(70%);
            }
         }
      }
   }

   .galleries {
      display: flex;
      gap: 2rem;

      .gallery {
         flex: 1;
         display: flex;
         flex-direction: column;
         gap: 2rem;
         transition: all .3s $cubic-bezier;

         span {
            display: block;
            height: 75vh;
            background-color: grey;
         }

         &:nth-child(2n) {
            span {
               height: 60vh;
            }
         }
      }
   }
}