.about {
   section {
      height: 100vh;
      overflow: hidden;
      display: flex;
      white-space: pre-line;

      &>* {
         flex: 1 1 50%;
      }
   }

   .hero {
      position: relative;

      .image {
         object-fit: cover;
      }
   }
}